<div>
  <h1>Public Recipes</h1>
  <% if @recipes.empty? %>
    <h1>No public recipes yet.</h1>
  <% else %>
    <% @recipes.each do |recipe| %>
      <div>
        <div>
          <h3><%= link_to recipe.name, recipe_path(id: recipe.id), class: "text-dark" %></h3>
          <p>By: <%= recipe.user.name %></p>
        </div>
        <div>
          
        </div>
      </div>
    <% end %>
  <% end %>
</div>