/* FILEPATH: /c:/Users/Aden/recipe-app/recipe-app/app/assets/stylesheets/application.css */

/* Add missing import */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
}

.nav-link {
  color: #f4f4f4;
  padding: 5px 10px;
}

a:hover {
  text-decoration: underline;
}

nav {
  background-color: #283747;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
}

#menu-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#signin-up-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}

#recipe-app {
  color: #f4f4f4;
}

#home-heading {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

#inventories,
#public-recipes,
#recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

#inventories-heading,
#public-recipes-heading,
#recipes-heading {
  text-align: center;
  padding: 5px 20px;
  margin-top: 10px;
}

#new-inventory,
#new-recipe {
  color: #333;
  padding: 5px 10px;
  font-size: medium;
}

#new-inventory-button,
#new-recipe-button {
  margin-left: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inventory,
.public-recipe,
.recipe {
  border-color: #333;
  border-style: solid;
  border-width: 2px;
  margin: 10px 5%;
  padding: 10px 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.inventory-main-info,
.public-recipe-main-info,
.recipe-main-info {
  width: 50%;
}

.inventory-description,
.public-recipe-description,
.recipe-description {
  width: 50%;
}

.show-inventory-heading,
.show-recipe-heading {
  text-align: center;
  padding: 0.1px 5px;
  margin-top: 10px;
}

.show-inventory-name,
.show-recipe-name {
  text-align: center;
  padding: 0.1px 5px;
}

.add-food-button,
.add-ingredient-button {
  margin-left: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: medium;
  padding: 2px 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

.action {
  text-align: center;
}

.action button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.public-recipes-action {
  margin-top: 10px;
  margin-bottom: 10px;
}

.toggle-container {
  position: relative;
  display: inline-block;
}

/* Styles for the toggle input */
.toggle-input {
  display: none; /* Hide the actual checkbox */
}

/* Styles for the toggle label/button */
.toggle-label {
  display: block;
  width: 50px; /* Adjust width as needed */
  height: 30px; /* Adjust height as needed */
  background-color: #2196f3; /* Default background color */
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: 15px; /* Adjust for rounded corners */
  transition: background-color 0.3s ease;
}

/* Styles for the toggle indicator (dot or handle) */
.toggle-indicator {
  width: 24px; /* Adjust width as needed */
  height: 24px; /* Adjust height as needed */
  background-color: #fff; /* Default indicator color */
  position: relative;
  top: 3px; /* Adjust vertical position as needed */
  left: 3px; /* Adjust horizontal position as needed */
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* Styles for the checked state */
.toggle-input:checked + .toggle-label {
  background-color: #4caf50; /* Change background color when checked */
}

.toggle-input:checked + .toggle-label .toggle-indicator {
  transform: translateX(20px) /* Move the indicator to the right when checked */;
}

#recipe-details-information {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

#shopping-list-generate-button {
  margin-left: 5%;
  margin-right: 5%;
}

.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 50%;
  margin-top: 200px;
  margin-left: 25%;
  margin-right: 25%;
}

.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-modal-title {
  margin: 0;
}

.custom-modal-body {
  padding: 20px 0;
}

.custom-modal-footer {
  display: flex;
  justify-content: flex-end;
}

.custom-btn-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
